body {
	background-image: url("https://wallpapercave.com/wp/Qdu8ZOl.jpg");
}

h1 {
	font-family: 'Herculanum', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 80px;
}